.card {
  max-height: 90%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  img {
    width: 100px;
    height: 100px;
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  width: 100%;              /* Ajusta el ancho según necesites */
  white-space: nowrap;       /* Evita que el texto haga salto de línea */
  overflow: hidden;          /* Oculta el contenido sobrante */
  text-overflow: ellipsis;
}

.card-content {
  font-size: 1rem;
  color: #555;
}
